absl-py==2.1.0
accelerate==1.3.0
aiobotocore==2.5.0
aiofiles==22.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.11.11
aioitertools==0.7.1
aiosignal==1.3.1
aiosqlite==0.18.0
alabaster==0.7.12
alembic==1.14.0
altair==5.3.0
anyio==4.6.0
appdirs==1.4.4
applaunchservices==0.3.0
appnope==0.1.2
appscript==1.1.2
arabic-reshaper==3.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.7.2
asn1crypto==1.5.1
astroid==2.14.2
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==24.2.0
auth0-python==4.7.2
Authlib==1.3.1
autobahn==23.6.2
Automat==20.2.0
autopep8==1.6.0
Babel==2.11.0
backcall==0.2.0
backoff==2.2.1
backports.functools-lru-cache==1.6.4
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==4.2.1
beautifulsoup4==4.12.3
bidict==0.23.1
binaryornot==0.4.4
bitsandbytes==0.42.0
bleach==4.1.0
blinker==1.9.0
blis==0.7.11
bokeh==3.2.1
boltons==23.0.0
botocore==1.29.76
Bottleneck==1.3.5
branca==0.7.1
brotlipy==0.7.0
build==1.2.2.post1
cachetools==5.5.0
catalogue==2.0.10
certifi==2024.8.30
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.6
chromadb==0.5.23
click==8.1.7
cloudpathlib==0.16.0
cloudpickle==2.2.1
cohere==5.13.8
colorama==0.4.6
colorcet==3.0.1
coloredlogs==15.0.1
comm==0.1.2
conda==23.7.4
conda-build==3.26.1
conda-content-trust==0.2.0
conda_index==0.3.0
conda-libmamba-solver==23.7.0
conda-pack==0.6.0
conda-package-handling==2.2.0
conda_package_streaming==0.9.0
conda-repo-cli==1.0.75
conda-token==0.4.0
conda-verify==3.4.2
confection==0.1.4
constantly==15.1.0
contourpy==1.0.5
convex==0.6.0
cookiecutter==1.7.3
crewai==0.95.0
crewai-tools==0.25.8
cryptography==43.0.3
cssselect==1.1.0
cssselect2==0.7.0
cur==0.0.2
cycler==0.11.0
cymem==2.0.8
cytoolz==0.12.0
daphne==4.1.2
dask==2023.6.0
dataclasses-json==0.6.7
datasets==2.12.0
datashader==0.15.2
datashape==0.5.4
dateparser==1.2.0
debugpy==1.6.7
decorator==5.1.1
deep-translator==1.11.4
deepface==0.0.81
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
diff-match-patch==20200713
diffusers==0.30.0
dill==0.3.6
distlib==0.3.8
distributed==2023.6.0
distro==1.9.0
Django==5.0.1
django-autoslug==1.9.9
django-cors-headers==4.4.0
django-templated-mail==1.1.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
djoser==2.2.3
dm-tree==0.1.8
dnspython==2.6.1
docker==7.1.0
docstring_parser==0.16
docstring-to-markdown==0.11
docutils==0.18.1
docx2txt==0.8
durationpy==0.9
email_validator==2.1.2
embedchain==0.1.126
emoji==2.14.0
en-core-web-sm==3.7.1
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
Faker==25.8.0
fastapi==0.111.0
fastapi-cli==0.0.4
fastavro==1.10.0
fastjsonschema==2.16.2
filelock==3.14.0
filetype==1.2.0
fire==0.5.0
flake8==6.0.0
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Cors==5.0.0
Flask-JWT-Extended==4.6.0
Flask-SocketIO==5.4.1
Flask-SQLAlchemy==3.1.1
flask-supabase==0.2.1
flatbuffers==23.5.26
folium==0.16.0
fonttools==4.25.0
frozenlist==1.4.1
fsspec==2024.2.0
fst-pso==1.8.1
future==0.18.3
FuzzyTM==2.0.9
gast==0.5.4
gdown==5.0.0
gensim==4.3.0
gitdb==4.0.11
GitPython==3.1.43
glob2==0.7
gmpy2==2.1.2
google==3.0.0
google-ai-generativelanguage==0.6.10
google-api-core==2.20.0
google-api-python-client==2.154.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud-aiplatform==1.76.0
google-cloud-bigquery==3.27.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.14.0
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-genai==0.8.0
google-generativeai==0.8.3
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
gotrue==2.9.1
gptcache==0.1.44
graphviz==0.20.3
greenlet==2.0.1
grpc-google-iam-v1==0.14.0
grpcio==1.69.0
grpcio-health-checking==1.69.0
grpcio-status==1.66.2
grpcio-tools==1.69.0
gunicorn==21.2.0
h11==0.14.0
h2==4.1.0
h5py==3.9.0
HeapDict==1.0.1
holoviews==1.17.1
hpack==4.0.0
html5lib==1.1
httpcore==1.0.6
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.24.5
humanfriendly==10.0
hvplot==0.8.4
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.10
ijson==3.3.0
imagecodecs==2023.1.23
imageio==2.31.1
imagesize==1.4.1
imbalanced-learn==0.10.1
importlib_metadata==8.5.0
importlib_resources==6.5.2
incremental==21.3.0
inflection==0.5.1
iniconfig==1.1.1
instructor==1.7.2
intake==0.6.8
intervaltree==3.1.0
ipykernel==6.25.0
ipython==8.15.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isort==5.9.3
itemadapter==0.3.0
itemloaders==1.0.4
itsdangerous==2.2.0
jaraco.classes==3.2.1
jedi==0.18.1
jellyfish==1.0.1
Jinja2==3.1.4
jinja2-time==0.2.0
jiter==0.8.2
jmespath==0.10.0
joblib==1.2.0
json_repair==0.35.0
json5==0.9.6
jsonlines==4.0.0
jsonpatch==1.33
jsonpickle==4.0.1
jsonpointer==2.1
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.0.0
jupyter_client==7.4.9
jupyter-console==6.6.3
jupyter_core==5.3.0
jupyter-events==0.6.3
jupyter-server==1.23.4
jupyter_server_fileid==0.9.0
jupyter_server_ydoc==0.8.0
jupyter-ydoc==0.2.4
jupyterlab==3.6.3
jupyterlab-pygments==0.1.2
jupyterlab_server==2.22.0
jupyterlab-widgets==3.0.5
kagglehub==0.1.9
kaleido==0.2.1
keras==2.15.0
keras-core==0.1.7
keras-nlp==0.8.1
keyring==23.13.1
kiwisolver==1.4.4
kubernetes==31.0.0
lancedb==0.18.0
langchain==0.3.14
langchain-cohere==0.3.4
langchain-community==0.3.14
langchain-core==0.3.29
langchain-experimental==0.3.4
langchain-google-genai==2.0.8
langchain-openai==0.2.14
langchain-text-splitters==0.3.5
langcodes==3.3.0
langsmith==0.1.147
lazy_loader==0.2
lazy-object-proxy==1.6.0
Levenshtein==0.25.1
libarchive-c==2.9
libclang==16.0.6
libmambapy==1.5.1
lightfm==1.17
linkify-it-py==2.0.0
linkup-sdk==0.2.2
litellm==1.58.2
llvmlite==0.40.0
lmdb==1.4.1
locket==1.0.0
lxml==4.9.3
lz4==4.3.2
Mako==1.3.8
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.3.0
mdurl==0.1.0
mem0ai==0.1.44
miniful==0.0.6
mistune==0.8.4
ml-dtypes==0.2.0
mmh3==5.0.1
monotonic==1.6
more-itertools==8.12.0
mpmath==1.3.0
msgpack==1.0.3
mtcnn==0.1.1
multidict==6.1.0
multipledispatch==0.6.0
multiprocess==0.70.14
munkres==1.1.4
murmurhash==1.0.10
mypy-extensions==1.0.0
namex==0.0.7
navigator-updater==0.4.0
nbclassic==0.5.5
nbclient==0.5.13
nbconvert==6.5.4
nbformat==5.9.2
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
nodeenv==1.9.1
notebook==6.5.4
notebook_shim==0.2.2
numba==0.57.1
numexpr==2.8.4
numpy==1.24.4
numpydoc==1.5.0
oauthlib==3.2.2
ollama==0.4.4
onnxruntime==1.20.1
openai==1.59.7
openai-whisper==20231117
opencv-python==4.10.0.84
openpyxl==3.1.5
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp-proto-common==1.29.0
opentelemetry-exporter-otlp-proto-grpc==1.29.0
opentelemetry-exporter-otlp-proto-http==1.29.0
opentelemetry-instrumentation==0.50b0
opentelemetry-instrumentation-asgi==0.50b0
opentelemetry-instrumentation-fastapi==0.50b0
opentelemetry-proto==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
opentelemetry-util-http==0.50b0
opt-einsum==3.3.0
orjson==3.10.5
oscrypto==1.3.0
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.1
pandas==1.5.3
pandocfilters==1.5.0
panel==1.2.3
param==1.13.0
parameterized==0.9.0
parsel==1.6.0
parso==0.8.3
partd==1.4.0
pathlib==1.0.1
pathspec==0.10.3
patsy==0.5.3
pdflatex==0.1.3
pdfminer.six==20231228
pdfplumber==0.11.5
pep8==1.7.1
pexpect==4.8.0
phonenumbers==8.13.31
pickleshare==0.7.5
Pillow==9.4.0
pip==25.0
pkce==1.0.3
pkginfo==1.9.6
platformdirs==3.10.0
plotly==5.9.0
pluggy==1.5.0
ply==3.11
portalocker==2.10.1
postgrest==0.17.1
posthog==3.8.3
poyo==0.5.0
preshed==3.0.9
prometheus-client==0.14.1
prompt-toolkit==3.0.36
propcache==0.2.1
Protego==0.1.16
proto-plus==1.24.0
protobuf==5.29.2
psutil==5.9.0
psycopg2-binary==2.9.9
ptyprocess==0.7.0
PuLP==2.9.0
pure-eval==0.2.2
py-cpuinfo==8.0.0
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle==2.10.0
pycosat==0.6.4
pycparser==2.21
pyct==0.5.0
pycurl==7.45.2
pydantic==2.10.5
pydantic_core==2.27.2
pydantic-settings==2.7.1
pydeck==0.9.1
PyDispatcher==2.0.5
pydocstyle==6.3.0
pyerfa==2.0.0
pyflakes==3.0.1
pyFUME==0.3.4
Pygments==2.15.1
pyHanko==0.21.0
pyhanko-certvalidator==0.26.3
PyJWT==2.8.0
pylance==0.22.0
pylint==2.16.2
pylint-venv==2.3.0
pyls-spyder==0.4.0
pyobjc-core==9.0
pyobjc-framework-Cocoa==9.0
pyobjc-framework-CoreServices==9.0
pyobjc-framework-FSEvents==9.0
pyodbc==4.0.34
pyOpenSSL==23.2.0
pyparsing==3.1.4
pypdf==5.1.0
pypdfium2==4.27.0
PyPika==0.48.9
pypng==0.20220715.0
pyproject_hooks==1.2.0
PyQt5-sip==12.11.0
pyright==1.1.391
pyrsistent==0.18.0
pysbd==0.3.4
PySocks==1.7.1
pytest==8.3.4
python-bidi==0.4.2
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-engineio==4.10.1
python-json-logger==2.0.7
python-lsp-black==1.2.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.2
python-multipart==0.0.9
python-slugify==5.0.2
python-snappy==0.6.1
python-socketio==5.11.4
python3-openid==3.2.0
pytoolconfig==1.2.5
pytube==15.0.0
pytz==2024.2
pyvis==0.3.2
pyviz-comms==2.3.0
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==23.2.0
QDarkStyle==3.0.2
qdrant-client==1.12.2
qrcode==7.4.2
qstylizer==0.2.2
QtAwesome==1.2.2
qtconsole==5.4.2
QtPy==2.2.0
queuelib==1.5.0
rapidfuzz==3.9.6
realtime==2.0.5
referencing==0.35.1
regex==2024.11.6
reportlab==4.2.2
requests==2.32.3
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
responses==0.13.3
resume-parser==0.8.4
retina-face==0.0.13
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rope==1.7.0
rpds-py==0.22.3
Rtree==1.0.1
ruamel.yaml==0.17.21
ruamel-yaml-conda==0.17.21
s3fs==2023.4.0
safetensors==0.5.2
schema==0.7.7
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.10.1
scrapegraph_py==1.9.0
Scrapy==2.8.0
seaborn==0.12.2
selenium==4.27.1
Send2Trash==1.8.0
sentence-transformers==3.4.1
sentencepiece==0.2.0
serpapi==0.1.5
service-identity==18.1.0
setuptools==68.0.0
shapely==2.0.6
shellingham==1.5.4
simpful==2.12.0
simple-websocket==1.1.0
sip==6.6.2
six==1.16.0
smart-open==5.2.1
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
social-auth-app-django==5.4.1
social-auth-core==4.5.4
sortedcontainers==2.4.0
soupsieve==2.4
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==5.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spider-client==0.1.25
spyder==5.4.3
spyder-kernels==2.4.4
SQLAlchemy==2.0.36
sqlparse==0.4.4
srsly==2.4.8
stack-data==0.2.0
stanza==1.9.2
starlette==0.37.2
statsmodels==0.14.0
stemming==1.0.1
storage3==0.8.1
streamlit==1.35.0
StrEnum==0.4.15
supabase==2.8.1
supafunc==0.6.1
svglib==1.5.1
svgwrite==1.4.3
sympy==1.13.1
tables==3.8.0
tabulate==0.9.0
tblib==1.7.0
tenacity==9.0.0
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.15.0
termcolor==2.4.0
terminado==0.17.1
text-unidecode==1.3
textdistance==4.2.1
thinc==8.2.3
threadpoolctl==2.2.0
three-merge==0.1.1
tifffile==2023.4.12
tika==2.6.0
tiktoken==0.7.0
tinycss2==1.2.1
tldextract==3.2.0
tokenizers==0.21.0
toml==0.10.2
tomli==2.2.1
tomli_w==1.1.0
tomlkit==0.11.1
toolz==0.12.0
torch==2.6.0
tornado==6.3.2
tqdm==4.66.5
traitlets==5.7.1
transformers==4.48.3
trio==0.26.2
trio-websocket==0.11.1
Twisted==22.10.0
txaio==23.1.1
typer==0.15.1
types-requests==2.32.0.20241016
typing_extensions==4.12.2
typing-inspect==0.9.0
tzdata==2023.3
tzlocal==5.2
uc-micro-py==1.0.1
ujson==5.4.0
Unidecode==1.2.0
uritemplate==4.1.1
uritools==4.0.2
urllib3==1.26.0
uv==0.5.18
uvicorn==0.30.1
uvloop==0.19.0
validators==0.34.0
virtualenv==20.26.1
w3lib==1.21.0
wasabi==1.1.2
watchdog==5.0.3
watchfiles==0.22.0
wcwidth==0.2.5
weasel==0.3.4
weaviate-client==4.10.4
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.0.4
whatthepatch==1.0.2
wheel==0.38.4
widgetsnbextension==4.0.5
wordcloud==1.9.3
wrapt==1.14.1
wsproto==1.2.0
wurlitzer==3.0.2
xarray==2023.6.0
xgboost==2.0.3
xhtml2pdf==0.2.14
xlwings==0.29.1
xxhash==2.0.2
xyzservices==2022.9.0
y-py==0.5.9
yapf==0.31.0
yarl==1.18.3
youtube-comment-downloader==0.1.76
youtube-comments-scrapper==1.0.1
youtube-dl==2021.12.17
youtube-search==2.1.2
ypy-websocket==0.8.2
zict==2.2.0
zipp==3.21.0
zope.interface==5.4.0
zstandard==0.19.0
